<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Marketplace Virtual</title>
    <link rel="stylesheet" href="./documentacao.css" type="text/css" />
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <header class="header">
      <div class="header-title">
        <button class="button-menu">
          <img src="./img/menu.png" alt="menu" />
        </button>
        <p class="name">Marketplace Virtual</p>
      </div>
      <nav class="menu">
        <ul class="list">
          <li class="line"><a class="link" href="./home.html">Home</a></li>
          <li class="line">
            <a class="link" href="./gestao.html">Gestão de itens</a>
          </li>
          <li class="line">
            <a class="link" href="./documentacao.html">Documentação API</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <button class="button-download">
        <a
          class="link-download"
          href="../../Documentação/"
          download="Documentação da API.docx"
        >
          Faça o download da documentação atualizada da API
          <img
            class="img-dowload"
            src="./img/download.png"
            alt="download-image"
          />
        </a>
      </button>
    </main>
    <script src="documentacao.js"></script>
  </body>
</html>
