<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gestão de Itens | Marketplace Virtual</title>
    <link rel="stylesheet" href="style_gestao.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-title">
        <button class="button-menu">
          <img src="./img/menu.png" alt="menu" />
        </button>
        <p class="name">Marketplace Virtual</p>
      </div>
      <nav class="menu">
        <ul class="list">
          <li class="line"><a class="link" href="./index.html">Home</a></li>
          <li class="line">
            <a class="link" href="./gestao.html">Gestão de itens</a>
          </li>
          <li class="line"><a class="link">Documentação API</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="form-gestao">
        <div class="form-div">
          <label for="cat" class="label-box">Categoria:</label>
          <input type="text" id="cat" class="categoria-form" />
        </div>
        <div class="form-div">
          <label for="type" class="label-box">Tipo:</label>
          <input type="text" id="type" class="tipo-form" />
        </div>
        <div class="form-div">
          <label for="cat" class="label-box">Tamanho:</label>
          <input type="text" id="cat" class="tamanho-form" />
        </div>
        <div class="form-div">
          <label for="cat" class="label-box">Cor:</label>
          <input type="text" id="cat" class="cor-form" />
        </div>
        <div class="form-div">
          <label for="type" class="label-box">Valor:</label>
          <input type="text" id="type" class="valor-form" />
        </div>
        <div class="form-div">
          <label for="cat" class="label-box">Estoque:</label>
          <input type="text" id="cat" class="estoque-form" />
        </div>
      </div>
      <!-- <div>oi</div> -->
    </main>
  </body>
</html>
