<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace Virtual</title>
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
    <header class="header">
      <div class="header-title">
        <button class="button">+</button>  
        <p class="name">Marketplace Virtual</p>
      </div>
        <nav class="menu">
            <ul class="list">
                <li class="line"><a class="link">Home</a></li>
                <li class="line"><a class="link">Adicionar item</a></li>
                <li class="line"><a class="link">Documentação API</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
      <!-- <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta </p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>      
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div>
      <div class="item">
        <p class="texto">Item:</p>
        <p class="categoria">camiseta</p>
        <p class="tipo">camiseta manga curta</p>
        <p class="tamanho">p</p>
        <p class="cor">branco</p>
        <p class="valor">5990</p>
        <p class="estoque">3</p>
        <p class="id">id: 1</p>
      </div> -->
    </main>
    <script src="index.js"></script>
</body>
</html>