* {
  padding: 0;
  margin: 0;
}
/* html{
  max-width: 100vw;
} */
body {
  background-color: white;
  background-color: rgb(192, 218, 226);
  font-size: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0;
  display: block;
  flex-direction: column;
  font-family: sans-serif;
  color: rgb(62, 80, 94);
}
.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding: 0.75rem 0;
  border-bottom: 1px solid steelblue;
}
.name {
  justify-self: center;
}
.button-menu {
  display: block;
  background-color: rgb(192, 218, 226);
  border: none;
  border-radius: 10px;
  font-size: 100%;
  color: steelblue;
  position: absolute;
  right: 1rem;
  align-self: center;
  justify-self: flex-start;
}
.button-menu:hover,
.link:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(178, 213, 224);
}

@media (min-width: 1000px) {
  .button-menu {
    display: none;
  }
}

.menu {
  display: none;
}

.menu-style {
  padding: 0;
  display: flex;
  flex-direction: column;
  
}

.list {
  list-style: none;
  
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
  .list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.line {
  background-color: rgb(181, 213, 223);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid steelblue;
  font-size: 80%;
  text-align: center;	
}

.line a{
  text-decoration: none;
  color: rgb(62, 80, 94);
}

@media (min-width: 1000px) {
  .line {
    background-color: rgb(192, 218, 226);
    border-bottom: none;
    font-size: 90%;
	  text-decoration: none;
    
  }
}
.main{
  display: flex;
  flex-direction: column;
  /* max-width: 60rem; */
}
/* .form-gestao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  align-self: center;

  font-family: sans-serif;
  color: rgb(62, 80, 94);
  margin: 2rem;
} */
.form-gestao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-self: flex-start;
  max-width: 25rem;
  min-width: 10rem;
  font-family: sans-serif;
  color: rgb(62, 80, 94);
  margin: 2rem 2rem 0 2rem;
}
.form-div{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: flex-start;
  width: 100%;
}
.form-box {
  display: flex;
  justify-content: flex-start;
}
.label-box {
  font-weight: bold;
  font-size: 100%;
}
.categoria-form, .tipo-form, 
.cor-form, .tamanho-form, 
.valor-form, .estoque-form{
  background-color: rgb(192, 218, 226);
  color: rgb(62, 80, 94);
  border-radius: 10px;
  border-bottom: 1px solid steelblue;
  max-width: 100%;
  height: 2rem;
}